<div id="<%= dom_id signin %>">
  <p>
    <strong>Name:</strong>
    <%= signin.name %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= signin.company %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= signin.purpose %>
  </p>

</div>
